In [17]:
import pandas as pd  
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
data = pd.read_csv("data_week2.csv", encoding='cp949')
data.head()

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0

In [21]:
cols = ['num', 'date_time', 'power', 'temp', 'wind','hum' ,'rain', 'sun', 'cooler', 'solar']
data.columns = cols

In [13]:
# 시간 관련 변수들 생성
date = pd.to_datetime(data.date_time)
data['hour'] = date.dt.hour
data['day'] = date.dt.weekday
data['month'] = date.dt.month
data['week'] = date.dt.isocalendar().week

array([0, 1, 2, 3, 4, 5, 6])

In [22]:
print(data.columns)
print(data.shape)

Index(['num', 'date_time', 'power', 'temp', 'wind', 'hum', 'rain', 'sun',
       'cooler', 'solar'],
      dtype='object')
(122400, 10)

In [25]:
print(data.describe())
print(data.isnull().sum().max())

                 num          power           temp           wind  \
count  122400.000000  122400.000000  122400.000000  122400.000000
mean       30.500000    2324.830866      24.251713       2.151641
std        17.318173    2058.999326       3.407902       1.514475
min         1.000000       0.000000      11.100000       0.000000
25%        15.750000    1055.268000      21.800000       1.100000
50%        30.500000    1700.352000      24.200000       1.900000
75%        45.250000    2780.487000      26.500000       2.900000
max        60.000000   17739.225000      36.300000      20.100000

                 hum           rain            sun         cooler  \
count  122400.000000  122400.000000  122400.000000  122400.000000
mean       80.169848       0.514989       0.213533       0.683333
std        15.525862       2.624505       0.370517       0.465178
min        19.000000       0.000000       0.000000       0.000000
25%        70.000000       0.000000       0.000000       0.000000
50%        84.000000       0.000000       0.000000       1.000000
75%        93.000000       0.000000       0.300000       1.000000
max       100.000000      81.500000       1.000000       1.000000

               solar
count  122400.000000
mean        0.483333
std         0.499724
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
0